{% extends 'base.html' %}

{% block content %}
<h1>Lista de Clientes</h1>
<div>
    <table>
        <tr>
            <th>Rafo</th>
            <th>Rafo 2</th>
            <th>Rafo 3</th>
            <th>Rafo 4</th>
        </tr>
        <tr>
            <td>Jose</td>
            <td>Jose 2</td>
            <td>Jose 3</td>
            <td>Jose 4</td>
        </tr>
        </table>
</div>

<div>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
      </ul>
</div>

{% endblock content %}